<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Engine X</title>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body style="background-image: url('{{ photo_url }}'); backdrop-filter: blur(10px);">
    <div class="search-container" id="searchContainer">
        <div class="logo">Engine X</div>
        <input class="search-box" type="text" id="search" placeholder="Search the web...">
        <div class="wpm-container" id="wpm">🏇🏻 0</div>
    </div>
    <div class="searchResult" id="searchResult"></div>
    <script src="static/script.js"></script>
</body>
</html>
